<div class="theme-card-tags">
	{{#each system.powerTags as |tag|}}
	{{#if tag.name}}
	{{> systems/litmv2/templates/partials/play-tag.html tag
		action="toggleTagActive"
		tooltip=(localize "LITM.Ui.click_to_toggle_tag")
		extraClass=(ifThen tag.disabled "is-inactive" "")
	}}
	{{/if}}
	{{/each}}
	{{#each system.weaknessTags as |tag|}}
	{{#if tag.name}}
	{{> systems/litmv2/templates/partials/play-tag.html tag
		action="toggleTagActive"
		tooltip=(localize "LITM.Ui.click_to_activate_tag")
		extraClass=(ifThen tag.disabled "is-inactive" "")
	}}
	{{/if}}
	{{/each}}
</div>
