<div class="litm--welcome-overlay__wizard application standard-form">
	<div class="litm--welcome-overlay__wizard-header">
		<h2>{{localize "LITM.Ui.hero_creation_customize_themes"}}</h2>
		<hr />
	</div>
	<div class="litm--welcome-overlay__wizard-body">
		<section class="hero-creation__themes-grid">
			<p class="hint">{{localize "LITM.Ui.hero_creation_hint_broad_vs_specific"}}</p>
			<div class="themes-container">
				{{#each tropeThemeChoices}}
				<fieldset class="theme-card {{#if isComplete}}theme-card--complete{{/if}}">
					<legend class="theme-card__book">
						{{#if kitThemebook}}{{kitThemebook}}{{else}}{{localize (concat "LITM.Terms." kitLevel)}}{{/if}}
					</legend>
					<div class="theme-card-header">
						<div class="flexrow noflex gap-sm">
							<img class="noflex icon-md" src="systems/litmv2/assets/media/icons/{{kitLevel}}.svg"
								data-tooltip="{{localize (concat 'LITM.Terms.' kitLevel)}}" />
							<span class="litm-tag" data-text="{{kitName}}">{{kitName}}</span>
						</div>
					</div>

					<div class="theme-card__progress">
						<span class="theme-card__progress-item {{#if (gte powerTagCount 2)}}complete{{/if}}">
							<i class="fa-solid {{#if (gte powerTagCount 2)}}fa-circle-check{{else}}fa-circle{{/if}}"></i>
							{{powerTagCount}}/2 {{localize "LITM.Tags.power_tags"}}
						</span>
						<span class="theme-card__progress-item {{#if hasWeakness}}complete{{/if}}">
							<i class="fa-solid {{#if hasWeakness}}fa-circle-check{{else}}fa-circle{{/if}}"></i>
							{{#if hasWeakness}}1{{else}}0{{/if}}/1 {{localize "LITM.Tags.weakness_tags"}}
						</span>
					</div>

					<div class="tag-section power-tags">
						<p class="tag-section__label">{{localize "LITM.Tags.power_tags"}} ({{powerTagCount}}/2)</p>
						<details class="tag-questions-details">
							<summary class="hint">{{localize "LITM.Ui.hero_creation_hint_power_tags"}}</summary>
							{{#if powerTagQuestions.length}}
							<ul class="tag-questions">
								{{#each powerTagQuestions}}<li class="hint">{{this}}</li>{{/each}}
							</ul>
							{{/if}}
						</details>
						<div class="theme-card-tags">
							{{#each powerTagOptions}}
							<label class="tag-checkbox">
								<input type="checkbox" value="{{name}}" data-action="toggleTropePowerTag"
									data-index="{{@../index}}" {{#if checked}}checked{{/if}}
									aria-label="{{name}}" />
								<img class="litm-tag-check"
									src="systems/litmv2/assets/media/{{#if checked}}checkbox-c{{else}}checkbox{{/if}}.svg" />
								<span class="litm-powerTag {{#unless checked}}unselected{{/unless}}"
									data-text="{{name}}" aria-hidden="true">{{name}}</span>
							</label>
							{{/each}}
						</div>
					</div>

					<hr />

					<div class="tag-section weakness-tags">
						<p class="tag-section__label">{{localize "LITM.Tags.weakness_tags"}} ({{#if
							hasWeakness}}1{{else}}0{{/if}}/1)</p>
						<details class="tag-questions-details">
							<summary class="hint">{{localize "LITM.Ui.hero_creation_hint_weakness_tags"}}</summary>
							{{#if weaknessTagQuestions.length}}
							<ul class="tag-questions">
								{{#each weaknessTagQuestions}}<li class="hint">{{this}}</li>{{/each}}
							</ul>
							{{/if}}
						</details>
						<div class="theme-card-tags">
							{{#each weaknessTagOptions}}
							<label class="tag-checkbox">
								<input type="checkbox" value="{{name}}" data-action="toggleTropeWeaknessTag"
									data-index="{{@../index}}" {{#if checked}}checked{{/if}}
									aria-label="{{name}}" />
								<img class="litm-tag-check"
									src="systems/litmv2/assets/media/{{#if checked}}checkbox-c{{else}}checkbox{{/if}}.svg" />
								<span class="litm-weaknessTag {{#unless checked}}unselected{{/unless}}"
									data-text="{{name}}" aria-hidden="true">{{name}}</span>
							</label>
							{{/each}}
						</div>
					</div>
				</fieldset>
				{{/each}}
			</div>
		</section>
	</div>
	{{> "systems/litmv2/templates/apps/welcome-overlay/wizard-footer.html" primaryAction="next" primaryLabel=(localize "LITM.Ui.hero_creation_next")}}
</div>