<section class="journey-play-mode standard-form scrollable">
	<!-- Header -->
	<div class="flexrow gap-md journey-play-header">
		{{> systems/litmv2/templates/partials/play-profile-img.html}}

		<div class="flex1 flexcol gap-sm">
			<h1>{{document.name}}</h1>
			{{#if source.system.category}}
			<span class="category">{{source.system.category}}</span>
			{{/if}}
		</div>
	</div>

	<!-- Description + Tags -->
	{{#if (or enriched.description enriched.tags)}}
	<div>
		{{#if enriched.description}}
		<div class="enriched-content" data-field="system.description">{{{enriched.description}}}</div>
		{{/if}}
		{{#if enriched.tags}}
		<fieldset>
			<legend>{{localize "LITM.Terms.tags_statuses"}}</legend>
			<div class="litm--play-tags">{{{enriched.tags}}}</div>
		</fieldset>
		{{/if}}
	</div>
	{{/if}}

	<!-- General Consequences -->
	{{#if generalConsequence}}
	<fieldset>
		<legend class="litm-banner vignette-card-label">
			{{localize "LITM.Terms.general_consequences"}}
		</legend>
		<ul class="consequences-list">
			{{#each generalConsequence.system.consequences as |consequence|}}
			<li class="consequence-item">{{{consequence}}}</li>
			{{/each}}
		</ul>
	</fieldset>
	{{/if}}

	<!-- Vignettes -->
	{{#if displayVignettes.length}}
	<div class="grid-2col">
		{{#each displayVignettes as |vignette|}}
		{{> systems/litmv2/templates/partials/vignette-card-play.html vignette=vignette}}
		{{/each}}
	</div>
	{{/if}}
</section>