<section class="standard-form story-theme-sheet scrollable">
	<!-- Header -->
	<header class="img-name">
		<img src="{{document.img}}" alt="{{document.name}}" data-edit="img" data-action="editImage" role="button" tabindex="0" data-tooltip="{{localize 'LITM.Ui.edit_image'}}" aria-label="{{localize 'LITM.Ui.edit_image'}}" />
		<input type="text" id="name" name="name" value="{{document.name}}" required
			placeholder="{{localize 'LITM.Ui.story_theme_name'}}" />
	</header>

	<!-- Level -->
	<div class="form-field">
		<label for="level">{{localize "LITM.Ui.theme_level"}}</label>
		<select id="level" name="system.level">
			{{selectOptions levels selected=system.level localize=true}}
		</select>
	</div>

	<!-- Description -->
	<fieldset>
		<legend>{{localize "LITM.Terms.description"}}</legend>
		<prose-mirror class="journal-entry-content" name="system.description" data-document-uuid="{{document.uuid}}"
			value="{{source.system.description}}" compact>
			{{{ enriched.description }}}
		</prose-mirror>
	</fieldset>

	<!-- Power Tags -->
	<fieldset>
		{{> systems/litmv2/templates/partials/control-legend.html label="LITM.Tags.power_tags" action="addPowerTag" type="power_tag" tooltip="LITM.Ui.add_power_tag"}}
		<ul class="plain">
			{{#each powerTags as |tag|}}
			<li class="form-group {{#if tag.disabled}}inactive{{/if}}">
				<input style="flex:none;" type="checkbox" name="effects.{{tag._id}}.isActive" {{checked (not tag.disabled)}} data-dtype="Boolean" />
				<input class="flex1" type="text" name="effects.{{tag._id}}.name" value="{{tag.name}}"
					placeholder="{{localize 'LITM.Ui.tag_name'}}" />
				<button type="button" style="flex:none;" data-action="removePowerTag" data-type="power_tag"
					data-effect-id="{{tag._id}}" data-tooltip="{{localize 'LITM.Ui.remove_tag'}}" aria-label="{{localize 'LITM.Ui.remove_tag'}}">
					<i class="fa-solid fa-trash" aria-hidden="true"></i>
				</button>
			</li>
			{{/each}}
		</ul>
	</fieldset>

	<!-- Weakness Tags -->
	<fieldset>
		{{> systems/litmv2/templates/partials/control-legend.html label="LITM.Tags.weakness_tags" action="addPowerTag" type="weakness_tag" tooltip="LITM.Ui.add_weakness_tag"}}
		<ul class="plain">
			{{#each weaknessTags as |tag|}}
			<li class="form-group">
				<input type="text" name="effects.{{tag._id}}.name" value="{{tag.name}}"
					placeholder="{{localize 'LITM.Tags.weakness'}}" />
				<button type="button" style="flex:none;" data-action="removePowerTag" data-type="weakness_tag"
					data-effect-id="{{tag._id}}" data-tooltip="{{localize 'LITM.Ui.remove_tag'}}" aria-label="{{localize 'LITM.Ui.remove_tag'}}">
					<i class="fa-solid fa-trash" aria-hidden="true"></i>
				</button>
			</li>
			{{/each}}
		</ul>
	</fieldset>

</section>